body {
	background-color: #d8b4e2;
}

h1 {
	text-align: center;
	color: #210b2c;
}

.header {
	display: flex;
	justify-content: space-around;
	font-size: 25px;
	color: #210b2c;
}

a {
	text-decoration: none;
	color: #210b2c;
}

#Hello {
	margin-top: 15%;
}
